<nav class="navbar navbar-teashop">
  <div class="navbar-left"><h1> EASY ORDER </h1></div>
  <div class="navbar-right">
    <div class="shoppingcart"><a href=""><img src="app/styles/images/shoping_cart.png"></a></div>
    <div class="lasoft"> Lasoft </div>
  </div>
</nav>  
<div class="row gallery-content"><h3> Choose products </h3>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 product-place">
    <div><img src="app/styles/images/product_img.png" class="galimg"></div>
    <div class="prod">
      <div class="product-common col-md-6">
      <h2> Tea#1 </h2>
      <h4> Extra black tea </h4>
      </div>
    </div>
    <button name="btn1" type="submit" class="btn add_to_cart_btn"> ADD TO CART </button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 product-place">
    <div><img src="app/styles/images/product_img.png" class="galimg"></div>
    <div class="prod">
      <div class="product-common col-md-6">
      <h2> Tea#1 </h2>
      <h4> Extra black tea </h4>
      </div>
      <div class="product-counter col-md-6"></div>
    </div>
    <button name="btn2" type="submit" class="btn add_to_cart_btn"> ADD TO CART </button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 product-place">
    <div><img src="app/styles/images/product_img.png" class="galimg"></div>
    <div class="prod">
      <div class="product-common col-md-6">
      <h2> Tea#1 </h2>
      <h4> Extra black tea </h4>
      </div>
    </div>
    <button name="btn3" type="submit" class="btn add_to_cart_btn"> ADD TO CART </button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 product-place">
    <div><img src="app/styles/images/product_img.png" class="galimg"></div>
    <div class="prod">
      <div class="product-common col-md-6">
      <h2> Tea#1 </h2>
      <h4> Extra black tea </h4>
      </div>
    </div>
    <button name="btn4" type="submit" class="btn add_to_cart_btn"> ADD TO CART </button>
  </div>    
</div>