    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1" style=""></div>
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10" style="">
            <div class="center-box">
                <h1> EASY ORDER </h1>
                <div class="avatar-box">
                    <div class="avatar"><img src="app/styles/images/avatar.png" ></div>
                </div>
                <div class="form-container">
                    <h3>Tea Shop</h3>
                    <form class="enter-container" action="#" method="post">
                        <div class="enter-login" style="cursor: pointer">
                            <a href="" class="login"> Log In </a>
                        </div>
                         <div class="enter-signup" style="cursor: pointer">
                            <a href="" class="signup"> Sign Up </a>
                        </div>
                    </form>               
                </div>                                                          
            </div>
            <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1" style=""></div>
        </div>
    </div>