<!-- 		    <div class="enter-container">
		        <div class="enter-login" style="cursor: pointer" onclick="">
		            <a href="#"> Log In </a>
		        </div>
		        <div class="enter-signup" style="cursor: pointer" onclick="">
		            <a href="#"> Sign Up </a>
		        </div>
		    </div>                                                                                                            
 -->