
body {
    height: 100%;
  	/*width: 100%;*/
  	background: #FFFFFF url("images/background.png") no-repeat center top; 
	background-size: 100%;
	height: 100%;
 	max-width: 100%;
 	overflow-x: hidden;
}

h1 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	letter-spacing: 2px;
} 

 h3 {
 	color:#000000;
 	font-size: 14px;
 	font-weight: bold;
 	text-align: center;
 	letter-spacing: 2px;
 	margin: 40px 0px 30px 0px;
 }

 h2 {
 	color: #000000;
 	font-size: 14px;
 	font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

h4 {
	color: #696969;
	font-size: 12px;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;


 }

.container-teashop {
/*	width: 100%;	
	height: 100%;*/
	
}


.form-container {
	
	width: 50%;	
	/*height: 100%;*/
	background: #FFFFFF;
	border: 0px solid #cccccc;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 65px;
	margin-left: 25%;
	padding: 20px 15px 15px 15px;
	color: #646B63;
	text-align: left;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: normal;
}


/*----------    LINKS    ----------*/ 

a, a:active, a:visited {
	text-decoration: none;
}

.form-container a, .form-container a:active, .form-container a:visited {
	color: #646B63;
	font-size: 10px;
}

.form-container a:hover {
	color: #00796b;
	font-size: 10px;
}

.enter-login a, .enter-login a:hover, .enter-login a:active, .enter-login a:visited {
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 2px;
	text-decoration: none;
}

.enter-signup a, .enter-signup a:hover, .enter-signup a:active, .enter-signup a:visited {
	color: #000000;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 2px;
	text-decoration: none;
}

.enter-signup a:hover{

}

.enter-signup a:hover{
	color: #FFFFFF;
}
 

/* ---------- CENTER of PAGE ---------- */

.center-box {
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
	margin-top: 150px;

	
}


/* ---------- avatar ---------- */

.avatar-box {
	position: relative;
	width: 66px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
}

.avatar {
	position: absolute;
	top: 15px;
	z-index:;
    text-align: center;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;

}


	
/* ---------- homepage ----------- */
 
.enter-container {
	text-align: center;
	margin: 50px 0px 50px 0px;
	padding: 5px;
}

.enter-login {
	width: 50%;
	color: #FFFFFF;
	font-size: 10px;
	background-color: #00796b;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid #00796b;
	border-radius: 3px;

}

.enter-login:hover {
	background-color: #cccccc;
	border: 1px solid #cccccc;
}

.enter-signup {
	width: 50%;
	color: #000000;
	font-size: 10px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid #00796b;
	border-radius: 3px;
}

.enter-signup:hover {
	background-color: #cccccc;
	border: 1px solid #cccccc;
}



/* ----------  FORM   ------------ */

.form-help {

}

.form-help2 {
	padding-left: 30%;
	padding-right: 30%;
	
}

.checkbox {
	padding: 0px;
	display: inline;
	margin: 0px;

}

.remaindpass {
	padding: 0px;
	text-align: right;
	float: right;
	display: inline;
	margin: 0px;

}

.form-container a {
	color: #646B63;
}

input[type="checkbox"] {
	margin: 0px;
}

.form-container-left{
	display: inline;
}

.form-container-right{
	display: inline;
	float: right;
}

.btn {
	width: 100%;
	background-color: #00796b;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 5px;
	border: none;
}

.btn:hover {
	background-color: #cccccc;
}
.btn:focus {
	background-color: #cccccc;
	border: none;
}

.form-bottom {
	text-align: center;
	margin-top: 25px;
}

.airplane {
	min-height: 250px;
	background: #FFFFFF url('./images/air_plane.png') no-repeat center;
	color: #000000;
	font-size: 14px;
 	font-weight: bold;
 	text-align: center;
 	letter-spacing: 2px;
	padding-top: 30%;
	padding-bottom: 30%
}

/*  ---------- @media  ----------  */

@media only screen and (max-width: 768px) {
	.center-box {
	   margin-top: 50px;	
    }
}
 input[type="text"]:focus, input[type="email"]:focus,input[type="password"]:focus {
 	border: 1px solid #00796b;
 	box-shadow: 0 2px 4px 2px rgba(0, 154, 99, 0.2);
 }
 

@media only screen and (max-width: 600px) {
    .form-control {
    	height: 20px;
    	font-size: 11px;
     }
}

@media only screen and (max-width: 375px) {
	.center-box {
        margin-top: 30px;
    }

	.form-container {
		margin-top: 50px;
		font-size: 10px;
        font-weight: normal;
        letter-spacing: normal;
	}

	h3   {
		 margin: 40px 0px 15px 0px;
	}

	.form-group {air
        margin-bottom: 10px;
    }

	.form-bottom {
        text-align: center;
        margin-top: 15px;
    }

    .btn {
    	margin-top: 10px;
    	font-size: 10px;
    }

}

@media only screen and (max-width: 375px) {
	.center-box {
		margin-top: 15px;
	}

	.center-box h1 {
		margin-top: 20px;
	}

	.avatar-box {
		margin-top: 0px;
	}

	h3 {
        margin: 30px 0px 15px 0px;
	}
}

/* ----------   GALLERY   -----------  */

/* ---------- Navigation ------------  */

.navbar-teashop {
	background-color: #00796b;
	padding: 0px 100px 0px 100px;
}
 @media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

.navbar-left {
	
}

.navbar-right {
	text-align: center;
	float: right;
	display: inline;
	padding: 10px 0px 10px 0px;
}

.shoppingcart {
	float: left;
	padding: 5px 20px 5px 10px;
	display: inline;
}

.lasoft {
	float: left;
	color: #FFFFFF;
	text-align: center;
	display: inline;
	padding: 5px 0px 5px 0px;
	margin-right: 20px;	
}

.gallery-content {
	margin: 0px 100px 0px 100px;
	text-align: center;
	padding: 0px;
}

.gallery-content h3 {
	text-align: left;
	margin: 10px 0px 10px 0px;
	padding-left: 5px;
}

.product-place {
	padding: 0px 10px 0px 10px;		
	margin: 0px;
	display: inline-block;
	text-align: center;
	
}

.galimg {
	width: 100%;  
    text-align: center;  
}

.product-common {
	display: inline;
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
}

.product-counter {
	padding: 0px;	
	float: right;
	text-align: right; 
}




/* ------------ @media ----------  */

@media only screen and (max-width: 767px) {air
	.gallery-content {
	margin: 0px 200px 0px 200px;
    }
    .navbar-teashop {
	    padding: 0px 75px 0px 75px;
    }
    .navbar-left h1 {
        font-size: 11px;
        text-align: left;
    }
    .navbar-left {
     	display: inline-block;
	
     }
    .lasoft {
    	font-size: 12px;
    }
    .shoppingcart {
    float: left;
    padding: 5px 10px 5px 10px;
    }

}

@media only screen and (max-width: 533px) {
	.gallery-content {
	    margin: 0px 75px 0px 75px;
    }
    .navbar-teashop {
	    padding: 0px 50px 0px 50px;
    }
    .navbar-left h1 {
        font-size: 11px;
        text-align: left;
    }
    .navbar-left {
     	display: inline-block;
	
     }
    .lasoft {
    	font-size: 11px;
    }
    .shoppingcart {
    float: left;
    padding: 5px 10px 5px 10px;
    }
    .gallery-content h3 {
    	font-size: 12px;
    }
}

/*  ---------- Product page  ----------  */

.product-pic {
	padding: 0px;	
	margin-top: 30px;
}

.prodimg {
	width: 100%;
} 

.product-info {
	position: relative;
 	text-align: left;
 	margin-top: 30px;
 	padding-left: 30px;
 }

/* ----------- Productpage counter  ---------- */
.result {
	position: absolute;
	top: 0;
    right: 30px;
    color:#00796b;
    font-weight: bold;
    font-size: 18px;
}

.somma {
	display: inline;
}

.product-info h2 {
	font-size: 16px;
	margin-top: 0px;
}

.product-info h4 {
	font-size: 14px;
}

.product-info p {
	color: #696969;
	font-size: 11px;
	line-height: 1.8;
} 

.but-plus, .but-minus {
	width: 15px;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-size: 18px;
	border: none;
	padding: 0px;
	display: inline;
}

.but-plus:hover, .but-minus:hover, 
.but-plus:focus, .but-minus:focus, 
.but-plus:active, .but-minus:active {
	color: #cccccc;
	border: none;
}

.amount {
	width: 30px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	text-align: center;
	display: inline-block;
}

.add-to-cart{
	display: block;
}

.btn-add-to-cart {
	width: 70%;
	display: inline;
	margin-top: 30px;
	float: right;
}

.counter {
	width: 30%;
	float: left;
	margin-top: 30px;
}

.tooltip-inner {
	white-space: pre;
}
/* ---------- Prod page counter's end ----------- */

/* ------ Gallery counter ------------------------ */


.product-counter .counter {
	width: 100%;
	margin-top: 10px;
	text-align: right;
}

.result-gallery {
	text-align: right;
	color:#00796b;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.product-counter .counter .amount {
	width: 30px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	text-align: center;
	display: inline-block;
}

.product-place .btn {
	margin: 10px 0px 30px 0px;
}


/* -------------- end ---------------------  */


/* ---------- @media Prod page ----------  */

@media only screen and (max-width: 767px) {
    .product-info {
 	    text-align: left;
 	    margin-top: 30px;
 	    padding: 0px;
    }
}

@media only screen and (max-width: 639px) {
	.btn-add-to-cart {
	    width: 100%;	    
	    margin-top: 20px;
	    
    }
    .counter {
    	text-align: center;
	    width: 100%;	   
	    margin-top: 30px;
    }
    .result {
	position: absolute;
	top: 0;
    right: 0px;
    }
}

