<div class="row">
  <div class="center-box"><h1> EASY ORDER </h1>
    <div class="avatar-box">
      <div class="avatar"><img src="app/styles/images/avatar.png" ></div>
    </div>
      <div class="form-container">
      <h3> Forgot password </h3>
      <form role="form">
        <div class="form-group">
          <label for="email"> E-mail </label>
          <input name="email" type="email" class="form-control" id="email">
        </div>     
        <button type="submit" class="btn recovery_button"> LOG IN </button>
      </form>                                    
      </div>                                                          
  </div>                                                              
</div>