<div class="row">
  <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1" style=""></div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10" style="">
      <div class="center-box"><h1> EASY ORDER </h1>
        <a href="">
          <div class="avatar-box">
            <div class="avatar"><img src="app/styles/images/avatar.png"></div>
          </div>
        </a>
          <div class="form-container">
          <h3> Forgot password </h3>
            <form role="form">
              <div class="form-group">
                <label for="email"> E-mail </label>
                <input type="email" class="form-control" id="email">
              </div>                
                <button type="submit" class="btn recovery_button"> LOG IN </button>
            </form>                                           
          </div>                                                          
      </div>                                                                 
    </div>                                                                
  <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1" style=""></div>
</div>